*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 100%;
}

div {
  background-color: #dadada;
  float: left;
  margin: 1% 1%;
  width: 100%;
  padding: 20px 20px;
}

.baku {
background: url(../images/baku.jpg)
}

.london {
background: url(../images/london.png)
}

.madrid {
background: url(../images/madrid.jpg)
}

.rome {
background: url(../images/rome.jpg)
}

.emphasis {

}

h1, h3 {
  font-size: 2em;
  font-family: sans-serif;
  margin: 2%;
}

h3 {
  font-size: 2em;
  font-weight: 100;
}

.preview {
float: left;
background-repeat: no-repeat;
background-size: cover;
width: 300px;
height: 300px;
}

@media screen and (min-width: 575px){
   .preview {
    margin: 1%;
    width: 48%;
  }
}
